@font-face {
  font-family: 'Supply Regular';
  src: url('https://naxo92.github.io/fonts/Supply-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Halogen';
  src: url('https://naxo92.github.io/fonts/Halogen-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Halogen';
  src: url('https://naxo92.github.io/fonts/Halogen-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
